.wrapper-box{
    margin: 0px 20px 25px 20px;
}

.wapper-bx .head{
    margin: 0px 15px 15px 15px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 17px;
    color: #c41515;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-wrap{
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    gap: 10px;
}

.wrap-pro{
    padding: 5px;
    max-height: 350px;
    max-width: 236px;
    margin-bottom: 25px;
    cursor: pointer;
    
}
.wrap-pro:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.pro-img{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.pro-img img{
    border: 1px solid aliceblue;
    height: 200px;
}
.pro-des{
    color: darkslategray;
    max-height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    vertical-align: middle;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0px !important;
}
.pro-des:hover{
    color: #8f2d2d;
}
.h-pro-price .orignal{
    color: gray;
    margin-right: 20px;
}
.h-pro-price .discounted{
    font-size: 24px;
}